@charset "utf-8";
*{margin: 0; padding: 0;}
a{
    text-decoration: none;
    color: inherit;
}
img, video, iframe{
    vertical-align: middle;
}
ul, ol{
    list-style: none;
}
body{
    font-size: 18px;
    line-height: 28px;
    color: #333;
    font-family: 'suite';
    min-width: 1450px;
}

@font-face {
    font-family: 'EF_ladio';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_ladio.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*header*/
#header{
    background-color: #fff;
    padding-top: 10px;
    border-top: #2db671 3px solid;
    width: 100%;
    border-bottom: #cacaca 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.header_in{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
}
.gnb >li{
    font-family: "jamsil";
    font-size: 18px;
    font-weight: 500;
    padding:25px 30px;
    border-bottom: solid #fff 3px;
}
.header_in ol{
    display: flex;
}
.header_in ol li a{
    padding: 20px 0;
    padding-left: 25px;
    display: inline-block;
}
.gnb>li:hover>a{
    color: #2db671;
}

.gnb>li{
    position: relative;
}
.sub{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
} 
.sub li a{
    display: block;
    background-color:rgba(44, 182, 112, 0.5);
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}
.sub li:nth-child(1){
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.sub{
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}
.gnb>li:hover>.sub{
    opacity: 1;
    transform: scaleY(1);
    transition: all 0.5s;
}
.gnb>li:hover{
    border-bottom: #2db671 solid 3px;
}
.sub li:hover a{
    color: #2db671;
}


/*main*/
#main{
    width: 100%;
    height: 500px;
    background: url(../images/magagine_banner.gif) no-repeat center;
    margin-top: 95px;
}


/*magazine*/
#magazine{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
#magazine h1{
    font-family: 'EF_ladio';
    font-size: 40px;
    color: #2db671;
    padding: 40px 0;
    letter-spacing: 2px;
}


/*magazine_card*/
#magazine_card{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}
.magazine_content{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.magazine_content a{
    margin: 0 40px;
}
.magazine_content a p{
    margin-top: 20px;
}

.magazine_content a:hover img{
    transform: translateY(-10px);
    transition: all 0.5s;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
}
.magazine_content a:hover p{
    font-weight: 600;
    transition: all 0.5s;
}



/*sns*/
#sns{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
#sns p{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
}
#sns span{
    color: #2db671;
    font-weight: 600;
}
#sns a img{
    padding: 10px;
}


/*footer*/
#footer{
    background-color: #2db671;
    padding: 40px 0;
    font-size: 16px;
    margin-top: 150px;
}
.footer_in{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    color: #fff;
    align-items: center;
}
.footer_in > a{
    padding: 0 60px;
}
.footer_text{
    padding-right: 400px;
}
.footer_text ul{
    display: flex;
}
.footer_text ul li{
    padding-right: 25px;
    padding-bottom: 20px;
}
.footer_in ol{
    display: flex;
    align-items: center;
    padding-top: 55px;
}
.footer_in ol li{
    padding-right: 15px;
}
.footer_text ul li:hover a{
    font-weight: bold;
}